@media screen and (max-width:1400px){
   .offers{
    width: 75%;
   } 

   .destination{
    width: 55%;
   }
}

@media screen and (max-width:1130px){
    .offers{
     width: 88%;
    } 

    .destination{
        width: 65%;
       }
 }
 
 @media screen and (max-width:1250px){
    header {
        width: 90%;
    }
 }
 

 @media screen and (max-width:1111px){
    header .trip_bx .search_bx{
        width: 75%;
    }
    header .trip_bx .travel_bx .cards{
        overflow: auto;
    }
    header .trip_bx .travel_bx .cards .card{
        min-width: 220px;
        margin-right: 10px;
    }
 }

 
 @media screen and (max-width:960px){
    header .trip_bx .search_bx{
        width: 83%;
    }
    .offers {
        width: 50%;
    }
    .destination {
        width: 73%;
    }
 }

 @media screen and (max-width:845px){
    .offers {
        width: 60%;
    }
    .destination {
        width: 78%;
    }
 }

 @media screen and (max-width:755px){
    header nav ul {
        position: absolute;
        width: 100px;
        flex-direction: column;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px grey;
        top: -100%;
        right: 13%;
        z-index: 99;
        padding: 10px 20px;
        transition:0.5s linear;
    }
    /* javascript class */
    header nav .ul_active{
        top: -1%;
    }


    header nav ul li {
        padding: 8px 0px;
        text-align: center;
    }
    header nav .bi-three-dots {
        display: unset;
    }
    header .trip_bx .search_bx {
        width: 88%;
    }

 }


 @media screen and (max-width:700px){
    header .trip_bx .search_bx input[type="button"] {
        bottom: -21px;
        right: 10px;
        padding: 13px 17px;
        position: absolute;
        font-size: 12px;
        transition: 0.2s linear;
    }
    header .trip_bx .search_bx {
        width: 86%;
    }
    .destination {
        width: 82%;
        flex-direction: column;
    }
    .destination .des_bx, .img_bx {
        position: relative;
        margin-bottom: 50px;
    }
    .destination .img_bx img {
        width: 113%;
        height: 420px;
        border-radius: 5px;
    }
    .offers .cards .card {
        height: 357px;
    }
    .offers .cards .card .cont_bx {
        margin-top: -50px;
    }
    .offers {
        width: 70%;
    }

 }

 @media screen and (max-width:610px){
    header .content .cont_bx {
        width: 368px;
    }
    .offers {
        width: 79%;
    }
    header .content .cont_bx p {
        width: 300px;
    }
    header .trip_bx .search_bx .card input {
        width: 100%;
        font-size: 10px;
    }
    header .trip_bx .search_bx .card input {
        width: 68%;
    }
    .offers {
        margin-top: 180px;
}
 }


 @media screen and (max-width:540px){
    .offers {
        width: 87%;
    }
    .destination .img_bx img {
        width: 128%;
}
 }

 @media screen and (max-width:485px){
    .offers {
        width: 95%;
    }
    .destination .img_bx img {
        width: 139%;
    }
}

@media screen and (max-width:460px){
    header .content .cont_bx {
        width: 320px;
    }
    header .content .cont_bx p {
        width: 281px;
    }
    .offers {
        width: 99%;
    }
    .destination .des_bx h4 {
        font-size: 18px;
    }
    .destination .des_bx p {
        font-size: 10px;
    }
    header .trip_bx .search_bx .card input {
        width: 94%;
    }
    .destination .des_bx, .img_bx {
        width: 60%;
    }

}
 

@media screen and (max-width:425px){
    header .content .cont_bx {
        width: 260px;
    }
    header .content .cont_bx h1 {
        font-size: 32px;
    }
    header .trip_bx .search_bx .card h4 {
        font-size: 14px;
    }
    header .trip_bx .search_bx input[type="button"] {
        bottom: -17px;
    }
        .offers {
            width: 95%;
        }
    .offers h1 {
        font-size: 25px;
    }
    .offers p {
        font-size: 13px;
    }
    .offers .cards {
        justify-content: center;
    }
    .destination .des_bx, .img_bx {
        width: 65%;
        margin-right: 55px;
    }
    .destination .des_bx h4 {
        font-size: 21px;
    }
    footer p {
        width: 310px;
    }
    footer ul li {
        font-size: 14px;
    }
    footer ul li h6 {
        font-size: 9px;
        max-width: 48px;
    }
    header nav ul {
        right: 16%;
    }


}
 
/* vivo v30 */

@media screen and (width:420px) {
    .offers {
        margin-top: 25px;
    }
    .destination .img_bx img {
        width: 128%;
    }
}